body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding: 40px;
}

.box {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
}
